/* .navbar {
  width: 75%;
  margin: auto;
  border-radius: 51px;
  background: #e0e0e0;
  box-shadow: 22px 22px 44px #bebebe, -22px -22px 44px #ffffff;
  font-weight: bold;
  font-size: 24px;
}
.navbar p {
    margin: auto;
    margin-left: 25px;
}
.navbar input {
  float: right;
  border: none;
  height: 50px;
  border-radius: 25px;
  background: #e0e0e0;
  box-shadow: inset 8px 8px 19px #cacaca,
              inset -8px -8px 19px #f6f6f6;
} */